@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
    color: var(--least-color);
}

:root{
    --main-size: 1.15rem;
    --primary-color: #EFFFFB;
    --secondary-color: #50D890;
    --ter-color:#4F98CA;
    --least-color:#272727;
    --grayish-color:#3F4F44;
    --common-padding: 2rem;
}

body
{
    padding: var(--common-padding);
    background-color: var(--primary-color);
}
.lContent
{
    font-size: 1.85rem;
}
.miniContent
{
    font-size: 0.8rem;
}

button
{
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.85rem 1.25rem;
    border-radius: 0.5rem;
    font-size: var(--main-size);
}

.successBtn
{
    background-color: var(--secondary-color);
}
.grayBtn
{
    background-color: var(--grayish-color);
    color: var(--primary-color);
}
.navbar
{
    padding: 0.5rem 1.85rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarBtnsGrp
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbarBtnsGrp .fileDropDown
{
    padding: 1.5rem;
    min-width: 300px;
    margin-right: 1rem;
}
.loadContainer
{
    padding:1rem 2rem;
}
.loadContainer .lContent
{
    padding:0.85rem 0;
}
.load
{
    background-color: var(--secondary-color);
    width: 300px;
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.load .miniContent
{
    padding: 0.85rem;
}
.weightValue
{
    position: relative;
    font-size: 3rem;
}
.weightValue::after
{
    content: "gms";
    position: absolute;
    top: 0;
    right: -50%;
    font-weight: 500;
    font-size: 0.85rem;
    font-style: italic;
}

.graphBar
{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
}
.graphsContainer
{
    padding: 2rem;
}
